<div
  (drop)="handleDrop($event)"
  (dragover)="allowDrop($event)"
  (dragenter)="showBorder = true"
  (dragleave)="showBorder = false"
  class="border border-gray-400 columns-1 w-full h-80 justify-center items-center flex"
  [ngClass]="{ 'border-lime-300 border-2': showBorder }"
>
  <div class="">
    <p>Drag and drop photos here</p>
    <div class="w-full flex justify-center text-center">
      <div>
        <p>or click</p>
        <div></div>
        <div>
          <input
            (click)="FileSelectInputDialog.click()"
            value="Select Files"
            type="button"
            class="rounded-full bg-blue-500 p-1 px-3 mt-2 text-white self-center font-semibold cursor-pointer text-sm"
          />
        </div>
      </div>
    </div>
  </div>

  <input
    type="file"
    #FileSelectInputDialog
    style="display: none"
    (change)="handleFileChange($event)"
    multiple
  />
</div>
