<div class="h-full w-auto overflow-hidden">
  <img
    class="h-full rounded-full"
    src="https://avatars.githubusercontent.com/u/20482805?v=4"
    alt=""
    (click)="menuVisible = !menuVisible"
  />
</div>
<div
  class="relative bg-white flex border rounded-sm w-52 right-36 top-1 justify-center shadow-lg font-semibold text-sm"
  *ngIf="menuVisible"
>
  <ul class="w-full text-center cursor-pointer" *ngIf="isLoggedIn">
    <li
      class="border-b w-full p-1 hover:bg-slate-200 rounded-md flex align-middle justify-center"
    >
      Settings
    </li>
    <li
      class="border-b w-full p-1 hover:bg-slate-200 rounded-md flex align-middle justify-center"
      (click)="submitLogOut()"
    >
      Log Out
    </li>
  </ul>
  <!-- <ul class="w-full text-center cursor-pointer" *ngIf="!isLoggedIn">
    <li
      class="border-b w-full p-1 hover:bg-slate-200 rounded-md flex align-middle justify-center"
      (click)="logIn()"
    >
      Log In
    </li>
    <li
      class="border-b w-full p-1 hover:bg-slate-200 rounded-md flex align-middle justify-center"
    >
      Register
    </li>
  </ul> -->
  <form class="p-2 w-full" *ngIf="!isLoggedIn" [formGroup]="loginFormGroup">
    <div
      *ngIf="loading"
      class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
    >
      <span class="loader"></span>
    </div>
    <!-- login -->
    <div class="w-full">
      <label for="loginField" class="w-full inline-block text-sm">Login</label>
      <input
        type="text"
        class="border-gray-200 outline-none w-full border-solid border rounded font-semibold focus:border-lime-300 px-1 mt-1"
        formControlName="login"
        id="loginField"
        name="login"
        [ngClass]="{
          'border-red-500 focus:border-red-500':
            submitted && LoginFormControl['login'].errors
        }"
      />
      <div
        class="w-full flex justify-center mt-1"
        *ngIf="
          submitted &&
          LoginFormControl['login'].errors &&
          LoginFormControl['login'].errors['required']
        "
      >
        <p class="text-red-500 text-xs">Login is required</p>
      </div>
    </div>
    <!-- password -->
    <div class="w-full mt-2">
      <label for="passwordField" class="inline-block text-sm w-full"
        >Password</label
      >
      <input
        type="password"
        class="border-gray-200 outline-none w-full border-solid border rounded font-semibold focus:border-lime-300 px-1 mt-1"
        formControlName="password"
        id="passwordField"
        name="password"
        [ngClass]="{
          'border-red-500 focus:border-red-500':
            submitted && LoginFormControl['password'].errors
        }"
      />
      <div
        class="w-full flex justify-center mt-1"
        *ngIf="
          submitted &&
          LoginFormControl['password'].errors &&
          LoginFormControl['password'].errors['required']
        "
      >
        <p class="text-red-500 text-xs">Password is required</p>
      </div>
    </div>
    <div class="flex w-full justify-center mt-3">
      <input
        type="button"
        value="Login"
        class="bg-blue-500 rounded px-3 py-1 text-white font-semibold hover:bg-blue-700"
        (click)="submitLogIn()"
      />
    </div>
  </form>
</div>
