<div class="flex justify-center align-middle shadow-md">
  <div class="w-full max-w-6xl h-16 flex items-center px-4">
    <!-- header container -->
    <div>
      <p class="text-3xl font-extrabold align-middle">
        <a routerLink="home"> FreeLinker </a>
      </p>
    </div>
    <!-- nav items container  -->
    <div class="ml-auto">
      <ul class="list-none flex font-bold">
        <li class="mr-5 hover:text-">
          <a routerLink="home">Home</a>
        </li>
        <li class="mr-5">
          <a routerLink="products">Products</a>
        </li>
        <li class="mr-5">
          <a routerLink="integrations">Integrations</a>
        </li>
      </ul>
    </div>

    <div class="h-10 w-10">
      <app-user-button></app-user-button>
    </div>
  </div>
</div>
