<div class="w-2/3 flex flex-col justify-center mx-auto">
  <div class="flex">
    <a
      class="ml-auto rounded px-2 py-1 bg-green-400 text-white font-semibold"
      routerLink="new"
      >New Product</a
    >
  </div>
  <div class="flex justify-center mt-3">
    <table class="w-full border-solid border-black border-">
      <thead>
        <tr>
          <th>SKU</th>
          <th>EAN</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody class="text-left">
        <tr *ngFor="let product of products$ | async">
          <th>{{ product.sku }}</th>
          <th>{{ product.ean }}</th>
          <th>{{ product.name }}</th>
          <th>
            <a (click)="deleteProduct(product.id)" class="cursor-pointer">
              <span class="material-symbols-outlined"> delete </span>
            </a>
            <a routerLink="edit/{{ product.id }}">
              <span class="material-symbols-outlined"> edit </span>
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
