<div class="w-2/3 flex flex-col justify-center mx-auto">
  <div class="flex">
    <a
      class="ml-auto rounded px-2 py-1 bg-green-400 text-white font-semibold"
      routerLink="new"
      >New Product</a
    >
  </div>
  <div class="flex justify-center mt-3">
    <table class="w-full border-solid border-slate-200  border px-2">
      <thead class="bg-blue-500 text-white h-9 ">
        <tr>
          <th>SKU</th>
          <th>EAN</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-left">
        <tr *ngFor="let product of products$ | async" class="odd:bg-slate-100 px-2">
          <th class="pl-2">{{ product.sku }}</th>
          <th>{{ product.ean }}</th>
          <th>{{ product.name }}</th>
          <th class="pr-2">
            <a (click)="deleteProduct(product.id)" class="cursor-pointer">
              <span class="material-symbols-outlined"> delete </span>
            </a>
            <a routerLink="edit/{{ product.id }}">
              <span class="material-symbols-outlined"> edit </span>
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
